$colors: (white: #FFFFFF,
	white80: rgba(255, 255, 255, 0.8),
	white60: rgba(255, 255, 255, 0.6),
	white40: rgba(255, 255, 255, 0.4),
	white30: rgba(255, 255, 255, 0.3),
	black: #000000,
	black5: rgba(0, 0, 0, 0.05),
	tur: #0099A8,
	green: #74E0C1,
	dblue: #003B71,
	lblue: #0075C9,
	lblue5: rgba(0, 117, 201, 0.05),
	vdblue: #0C2237,
	ogreen: #429F84,
	opurple: #8376A8,
	rust: #BF6141,
	plum: #AF607D,
	shell: #D2B1A6,
	apink: #F1E2DD,
	boti: #C5E0E3,
	lbeige: #FEF9F2,
	dgray: #151922,
	dgray40: rgba(21, 25, 34, 0.4),
	mgray: #565961,
	lgray: #969AA6,
	slgray: #EEF0F3,
	grayborder: #6D7A87,
	lgrayborder: #E6E8EE,
	red: #D60E0E);
